.socialLinks{
    
    z-index: 100;

    position: absolute;

    right: 5%;
    bottom: 5%;

    display: flex;
    gap: 3rem;
    // margin-right: 5vw;
    // margin-bottom: 6vh;

    a{
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 50%;
        

        &:hover{
            transform: scale(1.1);
        }
    }
}